<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Newsworthy &#8211; LDA design group</title>
	<atom:link href="http://ldadesigngroup.com/category/newsworthy/feed/" rel="self" type="application/rss+xml" />
	<link>http://ldadesigngroup.com</link>
	<description>Full Service Architecture</description>
	<lastBuildDate>Mon, 12 Mar 2018 18:51:22 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.6</generator>
	<item>
		<title>Ambition to Lead</title>
		<link>http://ldadesigngroup.com/2017/07/ambition-to-lead/</link>
		<pubDate>Thu, 27 Jul 2017 19:41:24 +0000</pubDate>
		<dc:creator><![CDATA[LDA design group]]></dc:creator>
				<category><![CDATA[Newsworthy]]></category>

		<guid isPermaLink="false">http://ldadesigngroup.com/?p=2663</guid>
		<description><![CDATA[  &#160; &#160;]]></description>
		</item>
		<item>
		<title>Rising to the Role of Associate</title>
		<link>http://ldadesigngroup.com/2017/04/heri-announcement/</link>
		<pubDate>Mon, 10 Apr 2017 00:21:05 +0000</pubDate>
		<dc:creator><![CDATA[LDA design group]]></dc:creator>
				<category><![CDATA[Newsworthy]]></category>

		<guid isPermaLink="false">http://ldadesigngroup.com/?p=2696</guid>
		<description><![CDATA[]]></description>
		</item>
		<item>
		<title>Our Company Strengthens When Our Team Flourishes</title>
		<link>http://ldadesigngroup.com/2016/07/joseassociate/</link>
		<pubDate>Thu, 28 Jul 2016 19:46:34 +0000</pubDate>
		<dc:creator><![CDATA[LDA design group]]></dc:creator>
				<category><![CDATA[Newsworthy]]></category>

		<guid isPermaLink="false">http://ldadesigngroup.com/?p=1935</guid>
		<description><![CDATA[]]></description>
		</item>
	</channel>
</rss>
