<div id="portfolio-full" class="portfolio-full portfolio-full-slidedown portfolio-open">
    <!-- Portfolio description -->
    <div class="portfolio-description">
        <h3>The Shoppes at Carlsbad</h3>
        <div class="row">
            <div class="col-4"><strong>Location:</strong><p></p>
                <p><strong>Client</strong>:</p>
                <p><strong>Type</strong>:</p>
            </div>
            <div class="col-8">Carlsbad, CA<p></p>
                <p>Rouse Properties</p>
                <p>Interior Mall Renovation and&nbsp;Development of Restaurant Row</p>
            </div>
        </div>
        <p>&nbsp;</p>
        <p>LDA is currently working with Rouse Properties on the complete mall renovation&nbsp;of The Shoppes at Carlsbad, a&nbsp;two-level mall with a gross area of approximately 564,845 square feet.&nbsp; The scope of work also includes the development of restaurant row, adding new restaurant tenants that face onto the exterior parking area and Architectural support for the landlords leasing team.&nbsp; This project was designed in conjunction with 505Design.</p>
    </div>

    <div class="swiper swiper-container" style="width: auto; height: auto" data-loop="true" data-autoplay="8000" data-speed="400">
        <div class="swiper-wrapper" style="width: 6062px; height: 257px; transform: translate3d(-2598px, 0px, 0px); transition-duration: 0.4s;">
            <div xmlns="http://www.w3.org/1999/xhtml" class="swiper-slide overlay overlay-none swiper-slide-duplicate" style="background-image: url(&quot;http://ldadesigngroup.com/wp-content/uploads/2017/01/20160418_CB-Aerial-1-resized.jpg&quot;); width: 866px; height: 257px;">
                <h3></h3></div><div class="swiper-slide overlay overlay-none" style="background-image: url(&quot;http://ldadesigngroup.com/wp-content/uploads/2017/01/Carlsbad_View1_v2-1.jpg&quot;); width: 866px; height: 257px;"><h3></h3></div><div class="swiper-slide overlay overlay-none" style="background-image: url(&quot;http://ldadesigngroup.com/wp-content/uploads/2017/01/20160222_CB-Upper-resized.jpg&quot;); width: 866px; height: 257px;"><h3></h3></div><div class="swiper-slide overlay overlay-none swiper-slide-visible swiper-slide-active" style="background-image: url(&quot;http://ldadesigngroup.com/wp-content/uploads/2017/01/20160222_CB-JCP-Upper-resized.jpg&quot;); width: 866px; height: 257px;"><h3></h3></div><div class="swiper-slide overlay overlay-none" style="background-image: url(&quot;http://ldadesigngroup.com/wp-content/uploads/2017/01/20160212_CB-Lower-resized2.jpg&quot;); width: 866px; height: 257px;"><h3></h3></div><div class="swiper-slide overlay overlay-none" style="background-image: url(&quot;http://ldadesigngroup.com/wp-content/uploads/2017/01/20160418_CB-Aerial-1-resized.jpg&quot;); width: 866px; height: 257px;"><h3></h3></div><div xmlns="http://www.w3.org/1999/xhtml" class="swiper-slide overlay overlay-none swiper-slide-duplicate" style="background-image: url(&quot;http://ldadesigngroup.com/wp-content/uploads/2017/01/Carlsbad_View1_v2-1.jpg&quot;); width: 866px; height: 257px;"><h3></h3></div></div><a class="nav-arrow nav-left" href="#"></a><a class="nav-arrow nav-right" href="#"></a></div></div>