/*
Theme Name: Rayleigh
Theme URI: http://themes.r6themes.com/?theme=rayleigh-html
Author: R6 Themes
Author URI: http://r6themes.com
Description: A Responsive Minimal Architect Theme
License: Themeforest Split Licence
License URI: -
Text Doman: rayleigh
Version: 1.5
Tags: white, dark, light, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fluid-layout, responsive-layout, custom-background, custom-colors, custom-menu, editor-style, full-width-template, microformats, sticky-post, theme-options, threaded-comments, translation-ready
*/

/*==========================================================*/
/* WordPress core
/*==========================================================*/

.alignnone {
	margin: 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float: right;
	margin: 0 0 0 40px;
}

.alignleft {
	float: left;
	margin: 0 40px 0 0;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

a img.alignright {
	float: right;
	margin: 0 0 0 40px;
}

a img.alignnone {
	margin: 0 40px 0 0;
}

a img.alignleft {
	float: left;
	margin: 0 40px 0 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 0 3px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 0 40px 0 0;
}

.wp-caption.alignleft {
	margin: 0 40px 0 0;
}

.wp-caption.alignright {
	margin: 0 0 0 40px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 15px 4px;
}

.gallery-caption {
	font-size: 80%;
	margin-top: 5px;
}

.bypostauthor > div > div > div > .fn:after {
	content: 'Author';
	margin-left: 10px;
	border-radius: 3px;
	padding: 3px 6px;
	font-size: 80%;
	color: #ffffff;
}

/*==========================================================*/
/* Admin bar fix
/*==========================================================*/

#wpadminbar {
	position: fixed !important;
}