/*==========================================================*/
/* Light icons
/*==========================================================*/

#sidebar-button {
    /*background: url("../img/svg/light/menu-icon.svg") no-repeat;*/
}

#nav-arrows a.nav-left {
    background-image: url("../img/svg/light/nav-left.svg");
    font-size: 25px;
    color: #80ae4a;
}

#nav-arrows a.nav-right {
    background-image: url("../img/svg/light/nav-right.svg");
     font-size: 25px;
    color: #80ae4a;
}

#portfolio-close {
    background: url("../img/svg/light/close-icon.svg") no-repeat;
}